.session-statistics-container {
    flex-basis: 25%;
    background: #051014;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.session-stats-title {
    text-transform: uppercase;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.stat-label {
    padding-right: 8px;
    font-weight: bold;
}

.stat-value {
    /*font-family: digital-clock-font, serif;*/
}
