.settings-row {
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.settings-button {
    width: 50%;
}
