.settings-row {
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
}

.timer-state-chip-container {
    text-align: center;
    width: 100%;
}

.timer-state-chip {
    text-transform: uppercase;
    padding: 16px !important;
    font-size: 24px !important;
}

.scramble-settings-button {
    width: 100%;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}