.timer-container {
    background: #848C8E;
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.timer-card {
    width: 100%;
    margin: 24px;
    border-radius: 16px !important;
}

.timer-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.current-time {
    font-family: digital-clock-font, serif;
    font-size: 200px;
}