#root {
  @import 'static/scss/Home';
}

@import 'static/scss/Default';

body {
  margin: 0;
}

.authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}