#root {
  @import 'static/scss/Home';
}

@import 'static/scss/Default';

body {
  margin: 0;
}
.amplify-input {
  color: white !important;
}

.amplify-tabs-item:focus {
  color: #bcf8ec;
}

.amplify-tabs-item:hover {
  color: #bcf8ec;
}

.authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
